## Fake Bank DB
    scripts to create the fake bank database

In [266]:
import sqlite3
from sqlite3 import Error
import pandas as pd
import pymysql
from sqlalchemy import create_engine

dbtech = 'mysql'

In [265]:
def create_connection(db_file=None, verbose=False, db='sqlite'):
    """ create a database connection to a database that resides
        in the memory
    """
    conn = None;
    if db == 'sqlite':
        if db_file is None:
            db_file = ':memory:'
        try:
            conn = sqlite3.connect(db_file)
            if verbose:
                print(f'Connected to {db_file}')
            return conn
        except Error as e:
            print(e)

    elif db == 'mysql':
        try:
            conn = pymysql.connect( 
            host='localhost', 
            user='user',  
            password = "!!B9nd.ppu77", 
            db='fakebank', 
            ) 
            if verbose:
                print(f'Connected to mysql')
            return conn
        except:
            print('failed to connect to mysql')
    else:
        print('unsupported DB')
        return 0
        
 
#    finally:
#        if conn:
#            conn.close()
    

def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)


def execute_mysql_query(query): 
    # To connect MySQL database 
    conn = pymysql.connect( 
            host='localhost', 
            user='user',  
            password = "!!B9nd.ppu77", 
            db='fakebank', 
            ) 
      
    cur = conn.cursor() 
      
    # Select query 
    cur.execute(query) 
    output = cur.fetchall() 
      
    for i in output: 
        print(i) 
      
    # To close the connection 
    conn.close()

### Database Structure

In [212]:
# client table
if dbtech == 'sqlite':
    create_table_client= """
    CREATE TABLE if not exists client
    (
    	ID integer PRIMARY KEY,
        Client_ID integer not null,
        HH_ID integer not null,
        Person_Org text not null,
        Name text not null,
        FirstName text ,
        LastName text ,
        SSN text,
        Address_ID integer not null,
        Banker_ID integer not null,
        Employer_ID integer not null,
        Open_Dt text not null,
        Start_Dt text not null,
        End_Dt text not null,
        Is_Current integer not null,
        FOREIGN KEY(Address_ID) REFERENCES address(ID),
        FOREIGN KEY(Banker_ID) REFERENCES banker(ID),
        FOREIGN KEY(HH_ID) REFERENCES HH(ID),
        FOREIGN KEY(Employer_ID) REFERENCES employer(ID)
    
    ); """
    
    create_table_address = """
    create table if not exists address
    (
        ID integer primary key,
        Address text,
        City text,
        State text,
        Zip text,
        Start_Dt text not null,
        End_Dt text not null,
        Is_Current integer not null
    )
    """
    
    create_table_HH = """
    create table if not exists HH
    (
        ID integer PRIMARY KEY,
        Person_Org text not null,
        Name text not null,
        FirstName text ,
        LastName text ,
        Address_ID integer not null,
        Banker_ID integer not null,
        Open_Dt text not null,
        Start_Dt text not null,
        End_Dt text not null,
        Is_Current integer not null,
        FOREIGN KEY(Address_ID) REFERENCES address(ID),
        FOREIGN KEY(Banker_ID) REFERENCES banker(ID)
    )
    """
    
    create_table_employer = """
    create table if not exists employer
    (
        ID integer primary key,
        Name text,
        Address_ID integer not null,
        Client_ID integer,
        Industry text,
        Start_Dt text not null,
        End_Dt text not null,
        Is_Current integer not null,
        FOREIGN KEY(Address_ID) REFERENCES address(ID)
    )
    """
    
    create_table_product = """
    create table if not exists product
    (
        ID integer primary key,
        Type text not null,
        Name text not null,
        Start_Dt text not null,
        End_Dt text not null,
        Is_Current integer not null
    )
    """
    
    create_table_banker = """
    create table if not exists banker
    (
        ID integer primary key,
        Name text not null,
        FirstName  text not null,
        LastName text not null,
        Start_Dt text not null,
        End_Dt text not null,
        Is_Current integer not null
    )
    """
    create_table_account = """
    create table if not exists account
    (
        ID integer primary key,
        acct_nbr text not null,
        Product_ID integer not null,
        Banker_ID integer not null,
        Status text not null,
        Open_Dt text not null,
        Close_Dt text,
        Start_Dt text not null,
        End_Dt text not null,
        Is_Current integer not null,
        FOREIGN KEY(Product_ID) REFERENCES Product(ID),
        FOREIGN KEY(Banker_ID) REFERENCES banker(ID)   
    )
    """
    
    create_table_relationship = """
    create table if not exists relationship
    (
        ID integer primary key,
        Account_ID integer not null,
        Client_ID integer not null,
        Relationship_Type text not null,
        Start_Dt text not null,
        End_Dt text not null,
        Is_Current integer not null,
        FOREIGN KEY(Account_ID) REFERENCES account(ID),
        FOREIGN KEY(Client_ID) REFERENCES client(ID)
    )
    """
    
    create_table_balance = """
    create table if not exists balance
    (
        ID integer primary key,
        Account_ID integer not null,
        Balance real not null,
        Balance_Dt_Id text not null,
        FOREIGN KEY(Account_ID) REFERENCES account(ID),
        FOREIGN KEY(Balance_Dt_Id) REFERENCES date(ID)
    )
    """
    
    create_table_date = """
    create table if not exists date
    (
        ID integer primary key,
        Date text not null,
        Julian_Dt real not null,
        Month integer not null,
        Day integer not null,
        Year integer not null,
        Quarter integer not null
    )
    """
elif dbtech == 'mysql':
    create_table_client= """
    CREATE TABLE if not exists client
    (
        ID integer PRIMARY KEY,
        Client_ID integer not null,
        HH_ID integer not null,
        Person_Org varchar(128) not null,
        Name varchar(128)not null,
        FirstName varchar(128) ,
        LastName varchar(128) ,
        SSN varchar(128),
        Address_ID integer not null,
        Banker_ID integer not null,
        Employer_ID integer not null,
        Open_Dt date not null,
        Start_Dt date not null,
        End_Dt date not null,
        Is_Current integer not null,
        FOREIGN KEY(Address_ID) REFERENCES address(ID),
        FOREIGN KEY(Banker_ID) REFERENCES banker(ID),
        FOREIGN KEY(HH_ID) REFERENCES HH(ID),
        FOREIGN KEY(Employer_ID) REFERENCES employer(ID)
    
    ); """
    
    create_table_address = """
    create table if not exists address
    (
        ID integer primary key,
        Address varchar(128),
        City varchar(128),
        State varchar(128),
        Zip varchar(128),
        Start_Dt date not null,
        End_Dt date not null,
        Is_Current integer not null
    )
    """
         
    create_table_HH = """
    create table if not exists HH
    (
        ID integer PRIMARY KEY,
        Person_Org varchar(128) not null,
        Name varchar(128) not null,
        FirstName varchar(128) ,
        LastName varchar(128) ,
        Address_ID integer not null,
        Banker_ID integer not null,
        Open_Dt date not null,
        Start_Dt date not null,
        End_Dt date not null,
        Is_Current integer not null,
        FOREIGN KEY(Address_ID) REFERENCES address(ID),
        FOREIGN KEY(Banker_ID) REFERENCES banker(ID)
    )
    """
         
    create_table_employer = """
    create table if not exists employer
    (
        ID integer primary key,
        Name varchar(128),
        Address_ID integer not null,
        Client_ID integer,
        Industry varchar(128),
        Start_Dt date not null,
        End_Dt date not null,
        Is_Current integer not null,
        FOREIGN KEY(Address_ID) REFERENCES address(ID)
    )
    """
         
    create_table_product = """
    create table if not exists product
    (
        ID integer primary key,
        Type varchar(128) not null,
        Name varchar(128) not null,
        Start_Dt date not null,
        End_Dt date not null,
        Is_Current integer not null
    )
    """
         
    create_table_banker = """
    create table if not exists banker
    (
        ID integer primary key,
        Name varchar(128) not null,
        FirstName  varchar(128) not null,
        LastName varchar(128) not null,
        Start_Dt date not null,
        End_Dt date not null,
        Is_Current integer not null
    )
    """
    create_table_account = """
    create table if not exists account
    (
        ID integer primary key,
        acct_nbr varchar(128) not null,
        Product_ID integer not null,
        Banker_ID integer not null,
        Status varchar(128) not null,
        Open_Dt date not null,
        Close_Dt date,
        Start_Dt date not null,
        End_Dt date not null,
        Is_Current integer not null,
        FOREIGN KEY(Product_ID) REFERENCES Product(ID),
        FOREIGN KEY(Banker_ID) REFERENCES banker(ID)   
    )
    """
         
    create_table_relationship = """
    create table if not exists relationship
    (
        ID integer primary key,
        Account_ID integer not null,
        Client_ID integer not null,
        Relationship_Type varchar(128) not null,
        Start_Dt date not null,
        End_Dt date not null,
        Is_Current integer not null,
        FOREIGN KEY(Account_ID) REFERENCES account(ID),
        FOREIGN KEY(Client_ID) REFERENCES client(ID)
    )
    """
         
    create_table_balance = """
    create table if not exists balance
    (
        ID integer primary key,
        Account_ID integer not null,
        Balance real not null,
        Balance_Dt_Id integer not null,
        FOREIGN KEY(Account_ID) REFERENCES account(ID),
        FOREIGN KEY(Balance_Dt_Id) REFERENCES date(ID)
    )
    """
         
    create_table_date = """
    create table if not exists date
    (
        ID integer primary key,
        Date date not null,
        Julian_Dt integer not null,
        Month integer not null,
        Day integer not null,
        Year integer not null,
        Quarter integer not null
    )
    """
create_table_date = """
    create table if not exists Transactions
   (
		ID integer primary key,
		Date_ID integer not null,
        Account_ID integer not null,
		Transaction_Type varchar(128) not null,
		Transfer_Acct_Nbr varchar(128),
		ACH_Acct_Nbr varchar(128),
		ACH_Rtg_Nbr varchar(128),
		Transaction_Purpose varchar(128),
        Transaction_Description varchar(256),
		Transaction_Amount float,
		Balance float,
        FOREIGN KEY(Date_ID) REFERENCES date(ID),
        FOREIGN KEY(Account_ID) REFERENCES account(id)
        );
"""

else:
    print('db_tech is not supported')

In [215]:
# mysql ddl

In [262]:
if dbtech == 'sqlite':
    db_file = r"FakeBank.db"
    conn = create_connection(db_file,db=dbtech,verbose=True)
elif dbtech == 'mysql':
    conn = create_connection(db=dbtech,verbose=True)
else:
    conn = None
    print('db_tech is not supported')
    
if conn is not None:
# create date table
    create_table(conn, create_table_date)
# create address table
    create_table(conn, create_table_address)

# create banker table
    create_table(conn, create_table_banker)
    
# create HH table
    create_table(conn, create_table_HH)
    
# create employer table
    create_table(conn, create_table_employer)

# create product table
    create_table(conn, create_table_product)

# create clients table
    create_table(conn, create_table_client)

# create account table
    create_table(conn, create_table_account)

# create relationship table
    create_table(conn, create_table_relationship)
    
# create balance table
    create_table(conn, create_table_balance)
else:
    print("Error! cannot create the database connection.")

Connected to mysql

### Load Data

In [263]:
# address
#conn = create_connection(db='mysql',verbose=True)


if dbtech == 'sqlite':
    db_file = r"FakeBank.db"
    conn = create_connection(db_file,db='sqlite',verbose=True)

# mysql
elif dbtech == 'mysql':
    conn = create_engine('mysql+pymysql://user:!!B9nd.ppu77@localhost/fakebank')

#address
df = pd.read_excel('Fake_Bank.xlsx',sheet_name = 'Address')
df.to_sql('address', conn, if_exists='append', index=False)

# Employer
df = pd.read_excel('Fake_Bank.xlsx',sheet_name = 'Employer')
df.to_sql('employer', conn, if_exists='append', index=False)

# Product
df = pd.read_excel('Fake_Bank.xlsx',sheet_name = 'Product')
df.to_sql('product', conn, if_exists='append', index=False)

# Banker
df = pd.read_excel('Fake_Bank.xlsx',sheet_name = 'Banker')
df.to_sql('banker',conn, if_exists='append', index=False)

# HH
df = pd.read_excel('Fake_Bank.xlsx',sheet_name = 'HH')
df.to_sql('HH', conn, if_exists='append', index=False)

# client
df = pd.read_excel('Fake_Bank.xlsx',sheet_name = 'Client')
df.to_sql('client', conn, if_exists='append', index=False)

# date
df = pd.read_excel('Fake_Bank.xlsx',sheet_name = 'Date')
df.to_sql('date', conn, if_exists='append', index=False)

# account
df = pd.read_excel('Fake_Bank.xlsx',sheet_name = 'Account')
df.to_sql('account', conn, if_exists='append', index=False)

# balance
df = pd.read_excel('Fake_Bank.xlsx',sheet_name = 'Balance')
df.to_sql('balance', conn, if_exists='append', index=False)

# Relationship
df = pd.read_excel('Fake_Bank.xlsx',sheet_name = 'Relationship')
df.to_sql('relationship', conn, if_exists='append', index=False)

71